{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form method="get" class="form-group">
            {{ form.cr_number.label_tag }}
            {{ form.cr_number }}

            {{ form.start_date.label_tag }}
            {{ form.start_date }}

            {{ form.end_date.label_tag }}
            {{ form.end_date }}
            <small style="color: grey;">{{ form.end_date.help_text }}</small>
        <button style="width:150px" type="submit">Search</button>
    </form>

</div>


<p></p>
<div style="width: 90%;margin: 0 auto;">
    <table style="border-collapse: collapse; width: 100%;">
        <thead style="position: sticky; top: 0; background-color: #c4c4be; z-index: 1;">
        <tr>
            <th style="border: 1px solid black; width: 10%;">date_of_use</th>
            <th style="border: 1px solid black; width: 10%;">CR_number</th>
            <th style="border: 1px solid black; width: 10%;">cal_due_date</th>
            <th style="border: 1px solid black; width: 10%;">temperature</th>
            <th style="border: 1px solid black; width: 10%;">pin_size</th>
            <th style="border: 1px solid black; width: 10%;">part_number</th>
            <th style="border: 1px solid black; width: 10%;">lot_number</th>
            <th style="border: 1px solid black; width: 10%;">inspector</th>
        </tr>
        </thead>
        <tbody style="position: relative; z-index: 0;">
        {% for equipment in equipments %}
        <tr>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.date_of_use }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.CR_number }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.cal_due_date }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.temperature }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.pin_size }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.part_number }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.lot_number }}</td>
            <td style="border: 1px solid black; width: 10%; ">{{ equipment.inspector }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}