{% extends 'base.html' %}
{% block content %}


<div style="width: 90%;margin: 0 auto;">
    <p></p>
    <p style="color: blue;">First row, you just input, quickly double check it please ...if any, click right 'update' button.</p>
    <p style="color: blue;">If ok, do nothing, record will be saved. Click above links. e.g. Input for next ...</p>

    <table style="border-collapse: collapse; width: 100%;">
        <thead style="position: sticky; top: 0; background-color: #c4c4be; z-index: 1;">
            <tr>
                <th style="border: 1px solid black; width: 4%;">id</th>
                <th style="border: 1px solid black; width: 10%;">date_of_use</th>
                <th style="border: 1px solid black; width: 10%;">CR_number</th>
                <th style="border: 1px solid black; width: 10%;">cal_due_date</th>
                <th style="border: 1px solid black; width: 10%;">temperature</th>
                <th style="border: 1px solid black; width: 10%;">pin_size</th>
                <th style="border: 1px solid black; width: 10%;">part_number</th>
                <th style="border: 1px solid black; width: 10%;">lot_number</th>
                <th style="border: 1px solid black; width: 10%;">inspector</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="position: relative; z-index: 0;">
            {% for equipment in equipments %}
                  <tr style="color: {% if forloop.first %}black{% else %}#e6e4e1{% endif %};">
                    <td style="border: 1px solid black; width: 5%; ">{{ equipment.id }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.date_of_use }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.CR_number }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.cal_due_date }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.temperature }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.pin_size }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.part_number }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.lot_number }}</td>
                    <td style="border: 1px solid black; width: 10%; ">{{ equipment.inspector }}</td>
                    <td>{% if forloop.first %}<button onclick="edit_equipment({{ equipment.id }})">Update</button>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- JavaScript/jQuery code for handling the double-click event -->
<script>
function edit_equipment(equipmentId) {
    // Redirect the user to the edit view for the specific equipment
    window.location.href = "{% url 'edit_equipment' equipment_id=0 %}".replace('0', equipmentId);
}
</script>
{% endblock content %}