<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>My site</title>

        {% include 'snippets/base_css.html' %}

        {% include 'snippets/header.html' %}


    </head>

        <body>
        <!--below style let the footer to the bottom of the webpage-->
        <style type="text/css">
            .main{
                min-height: 100vh;
                height: 100%;
            }
        </style>
        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>

    </body>

    <footer>
        {% include 'snippets/footer.html' %}
    </footer>
</html>